/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Init */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    text-transform: capitalize;
}
